table {
  margin: auto;
  border: solid black;
}

#actions {
  text-align: center;
  margin: auto;
}

#dialogue {
  width: 90%;
  margin: auto;
}

.sudoSq {
  width: 5em;
  height: 5em;
  border: solid black 0.5em;
}
.sudoSq > input, h1{
  width: inherit;
  height: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 5em;
}

.sudoSq > input:focus {
  background-color: #add8e6;
}

.sudoSq > input.correct {
  background-color: #90EE90;
}

.sudoSq > input.wrong {
  background-color: #FA8072;
}

h1 {
  text-align: center;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
